/* debug */








header {
    height: 70px;
}



.borderNone{
    border: transparent !important;
} 
:focus-visible {
    outline: none !important;
}

.width100 {
    width: 100% !important;
}
.secDim {
    width: 100%;
    height: calc(100vh - 70px) ;
    overflow-y: auto;
    
}

.widthSrc {
    width : calc(100% - 40px) ;
}

.sideDim {
    width: 150px;
    height: calc(100vh - 70px) ;
}

.bgGray {
    background-color: #E5E5E5 !important;
}

.colorGold {
    color: gold;
}

.scale {
    scale: 1.1;
}

.sideBg {
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #051E34 ;
}

.bacgoundColorAzz {
    background-color:#1B72E8 ;
}

.colorPill {
    background-color:#165BBA ;
    color: white;
}

.addStudentButton {
    border:1px solid white !important;
}

.p0{
    padding: 0 !important;
}
.m0{
    margin: 0 !important;
}

.imgSquare {
    background-color: white;
    width: 25px;
    height: 25px;
}

.imgSquare35{
    width: 65px;
    height: 65px;
}
.height100{
    height: 100%;
}



.width50px{
    max-width: 80px;
}

.widthAuto{
    width: auto;
}
.imgSquare35 {
    display: none;
}


@media screen and (max-width: 768px){
    .sideDim {
        width: 50px;
    }
    aside span {
        display: none;
    }
    .imgSquare35{
        display: block;
    }
    nav > img {
        display: none;
    }

    nav .vanish {
        display: none !important;
    }
    .vanish {
        display: none !important;
    }
    .alignItemCenter{
        align-items: center;
    }
    .justifyContentCenter {
        justify-content: center;
    }
    

}


